[
    {
        "url": "https://github.com/jquery/jquery",
        "name": "jQuery",
        "webhookUrl": "https://hooks.slack.com/services/YourAlternativeServiceHash",
        "icon": "https://example.com/icon.png",
        "interval": 1800,
        "botName" : "jQuery releases"
    },
    {
        "url": "https://github.com/angular/angular"
    }
]
